footer {
  background-color: rgb(212, 138, 3);
}
#rojitoOscuro {
    color: rgb(86, 12, 12);
  
}
#tituloRojo {
  color: rgb(86, 12, 12);
 
}

#redes {
  color: rgb(86, 12, 12)!important;
}

#listas {
    color: rgb(86, 12, 12);
}
small{
     color: rgb(86, 12, 12) !important;
} 